<!DOCTYPE html>
<html lang="en">
   <!-- Basic -->
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <!-- Mobile Metas -->
   <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
   <!-- Site Metas -->
   <title>Game Info</title>
   <meta name="keywords" content="">
   <meta name="description" content="">
   <meta name="author" content="">
   <!-- Site Icons -->
   <link rel="shortcut icon" href="" type="image/x-icon" />
   <link rel="apple-touch-icon" href="">
   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="/static/css/bootstrap.min.css">
   <!-- Site CSS -->
   <link rel="stylesheet" href="/static/style.css">
   <!-- Colors CSS -->
   <link rel="stylesheet" href="/static/css/colors.css">
   <!-- ALL VERSION CSS -->	
   <link rel="stylesheet" href="/static/css/versions.css">
   <!-- Responsive CSS -->
   <link rel="stylesheet" href="/static/css/responsive.css">
   <!-- Custom CSS -->
   <link rel="stylesheet" href="/static/css/custom.css">
   <!-- font family -->
   <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
   <!-- end font family -->
   <link rel="stylesheet" href="/static/css/3dslider.css" />
   <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
   <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
   <script src="/static/js/3dslider.js"></script>
   </head>
   <body class="game_info" data-spy="scroll" data-target=".header">
      <!-- LOADER -->
      <div id="preloader">
         <img class="preloader" src="/static/images/loading-img.gif" alt="">
      </div>
      <!-- END LOADER -->
      <section id="top">
         <header>
            <div class="container">
               <div class="header-top">
                  <div class="row">
                     <div class="col-md-6">
                        <div class="full">
                        </div>
                     </div>
                  </div>
               </div>
               <div class="header-bottom">
                  <div class="row">
                     <div class="col-md-12">
                        <div class="full">
                           <div class="main-menu-section">
                              <div class="menu">
                                 <nav class="navbar navbar-inverse">
                                    <div class="collapse navbar-collapse js-navbar-collapse">
                                       <ul class="nav navbar-nav">
                                          <li><a href="/homepage">HomePage</a></li>
                                          <li><a href="/about">About</a></li>
                                          <li><a href="/teams">Teams</a></li>
                                       </ul>
                                    </div>
                                    <!-- /.nav-collapse -->
                                 </nav>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </header>
         <div class="inner-page-banner">
            <div class="container">
            </div>
         </div>
      </section>
      <section id="contant" class="contant main-heading" style="padding-bottom:0;margin-bottom:-1px;position:relative;z-index:1;">
         <div class="aboutus">
            <div class="container">
               <div class="row">
                  <div class="col-md-12 col-sm-12">
                     <div class="col-md-7 col-sm-7 col-xs-12">
                        <div class="full">
                           <h3>SPORTY LEAGUE HISTORY</h3>
                           <p>The Indian Premier League (IPL) is a professional Twenty20 cricket league in India. It was established in 2008 by the Board of Control for Cricket in India (BCCI) with the aim of bringing together top cricket talent from around the world to compete in a high-intensity, short-format cricket tournament. The IPL has since become one of the most popular and lucrative cricket leagues globally, known for its entertainment value, star-studded teams, and vibrant fan following.

                              Key features of the IPL:
                              
                              <p>Format: The IPL follows a Twenty20 (T20) format, where each team plays a maximum of 20 overs per inning. This fast-paced format emphasizes aggressive batting and dynamic fielding.</p>
                              
                              <p>Teams: The IPL features a franchise-based system with multiple teams representing different cities or regions in India. The number of teams has varied over the years, but it generally comprises eight teams. Each team is a combination of local and international players.</p>
                              
                              <p>Players: The IPL attracts some of the best cricket players from around the world. It offers a platform for both emerging and established players to showcase their skills on a global stage.</p>
                              
                              <p>Season: The IPL is held annually during the Indian cricket season, typically between March and May. The tournament's duration is around two months, during which teams compete in a round-robin format followed by playoffs.</p>
                              
                              <p>Playoffs: The top teams from the round-robin stage advance to the playoffs, where they compete in knockout matches, including an Eliminator, Qualifier 1, and Qualifier 2. The final determines the IPL champion.</p>
                              
                              <p>Franchise Ownership: Teams in the IPL are owned by various individuals, companies, and conglomerates. These owners invest in the team's operations, player acquisitions, and marketing efforts.</p>
                              
                              Some of the prominent IPL teams include:
                           </p>
                           <ul class="icon-list">
                              <li>Mumbai Indians (MI):

                                 <li>One of the most successful teams in IPL history, with multiple titles.
                                 Known for their strong squad and consistent performance.
                                 Iconic players: Rohit Sharma (Captain), Jasprit Bumrah.
                                 They are known for their strong emphasis on nurturing young talent.</li>

                                 <li>Chennai Super Kings (CSK):
                                 
                                 </li> team with a massive fan following and a strong track record.
                                 Nicknamed the "Dad's Army" due to their experienced players.
                                 Iconic players: MS Dhoni (Captain), Suresh Raina, Dwayne Bravo.
                                 Known for their consistency and strategic captaincy under Dhoni.</li>
                                  <li>Kolkata Knight Riders (KKR):
                                 
                                <li>Two-time IPL champions with a charismatic owner in Shah Rukh Khan.
                                 Iconic players: Andre Russell, Eoin Morgan (Captain), Sunil Narine.
                                 Known for their aggressive and stylish brand of cricket.</li>
                                 <li>Royal Challengers Bangalore (RCB):
                                 
                                 <li>A team with a passionate fan base and some of the biggest cricketing stars.
                                 Iconic players: Virat Kohli (Captain), AB de Villiers.
                                 Known for their star-studded lineup, but the title has eluded them so far.</li>
                                <li> Rajasthan Royals (RR):
                                 
                                 <li>The inaugural IPL champions known for their underdog spirit.
                                 Iconic players: Sanju Samson (Captain), Jos Buttler.
                                 Known for nurturing young talent and providing opportunities to lesser-known players.</li>
                                 <li>Sunrisers Hyderabad (SRH):
                                 
                                 <li>A relatively newer team with a strong bowling lineup.
                                 Iconic players: David Warner (Captain), Rashid Khan.
                                 Known for their disciplined and balanced approach to the game.</li>
                                 <li>Kings XI Punjab (KXIP) / Punjab Kings:
                                 
                                 <li>Based in Punjab, known for a mix of exciting victories and close losses.
                                 Iconic players: KL Rahul (Captain), Chris Gayle.
                                 They are known for their power-packed batting lineup.</li>
                                 <li>Delhi Capitals (DC):
                                 
                                 <li>Formerly Delhi Daredevils, rebranded as Delhi Capitals.
                                 Iconic players: Shreyas Iyer (Captain), Rishabh Pant.
                                 Known for their youthful squad and resurgence in recent years.</li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
        
      </section>
      <footer id="footer" class="footer">
         <div class="footer-bottom">
            <div class="container">
               <p>Copyright © IPL SCORE PREDICTION</a></p>
            </div>
         </div>
      </footer>
      <a href="#home" data-scroll class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>
      <!-- ALL JS FILES -->
      <script src="/static/js/all.js"></script>
      <!-- ALL PLUGINS -->
      <script src="/static/js/custom.js"></script>
   </body>
</html>